$primary: #5b269a;
$primary-hover: #45167e;

$secondary: #fdd4ff;
$secondary-hover: #fdd4ff;

$success: #75bf1a;
$success-hover: #75bf1a;

$danger: #fc5661;
$danger-hover: #fb2432;

$warning: #ffcc00;
$warning-hover: #ffcc00;

$info: #4d7cff;
$info-hover: #2760ff;

$light: #f8f9fa;
$light-hover: #e2e6ea;

$dark: #141f3b;
$dark-hover: #141f3b;